WARNING:  database "postgres" has a collation version mismatch
DETAIL:  The database was created using collation version 153.120, but the operating system provides version 153.121.
HINT:  Rebuild all objects in this database that use the default collation and run ALTER DATABASE postgres REFRESH COLLATION VERSION, or build PostgreSQL with the right library version.
--
-- PostgreSQL database dump
--

\restrict XdmjSjXRQbEcSqnpO7JqZZ7J51iba2MaPXsHjKOgsagPLtgh3bX4bl5eHXtrBBR

-- Dumped from database version 17.6
-- Dumped by pg_dump version 17.6

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: clientes; Type: TABLE DATA; Schema: finanzas; Owner: supabase_admin
--

COPY finanzas.clientes (id, nombre_completo, telefono, correo, rfc, created_at, updated_at) FROM stdin;
2997e5c2-62c3-40ec-8c1f-1da0c20380ae	Johan Jacob Paz Valadez	4771631661	johan_paz@hotmail.es	PAVJ011113PB6	2026-01-26 23:37:50.548335+00	2026-01-26 23:37:50.548335+00
\.


--
-- Data for Name: conceptos_catalogo; Type: TABLE DATA; Schema: finanzas; Owner: supabase_admin
--

COPY finanzas.conceptos_catalogo (id, nombre, precio_sugerido, activo, created_at) FROM stdin;
2	Modificaci├│n manual	0	t	2025-12-19 08:30:52.173681+00
1	Limpieza	0	t	2025-12-19 08:29:59.031025+00
3	Mobiliario	0	t	2025-12-19 08:30:57.056834+00
5	Instalaci├│n	0	t	2025-12-19 08:36:01.791921+00
4	Seguridad	500	t	2025-12-19 08:31:41.47937+00
\.


--
-- Data for Name: espacios; Type: TABLE DATA; Schema: finanzas; Owner: supabase_admin
--



--
-- Data for Name: cotizaciones; Type: TABLE DATA; Schema: finanzas; Owner: supabase_admin
--



--
-- Data for Name: impuestos; Type: TABLE DATA; Schema: finanzas; Owner: supabase_admin
--

COPY finanzas.impuestos (id, nombre, porcentaje, activo, created_at, impuestos_aplicados) FROM stdin;
1	IVA	16	t	2025-12-20 05:00:37.668293+00	\N
\.


--
-- Data for Name: clientes; Type: TABLE DATA; Schema: finanzas_casadepiedra; Owner: supabase_admin
--

COPY finanzas_casadepiedra.clientes (id, nombre_completo, telefono, correo, rfc, created_at, updated_at) FROM stdin;
b51df6c1-e0f1-4860-904d-8b03cd055d79	Johan Jacob Paz Valadez	4771631661	johanjacobpazvaladez@gmail.com	PAVJ011113PB6	2026-01-26 23:50:37.517036+00	2026-01-26 23:50:37.517036+00
a3299bd7-16d6-45aa-b187-8a5856697255	Emma Valadez Medina	4772309481	adsasdasd@asdads.com	PAVJ011113PB4	2026-02-12 05:24:40.57242+00	2026-02-12 05:24:40.57242+00
\.


--
-- Data for Name: conceptos_catalogo; Type: TABLE DATA; Schema: finanzas_casadepiedra; Owner: supabase_admin
--

COPY finanzas_casadepiedra.conceptos_catalogo (id, nombre, precio_sugerido, activo, created_at) FROM stdin;
1	Limpieza	0	t	2026-01-27 03:55:21+00
2	Seguridad	0	t	2026-01-27 03:55:31+00
4	Generador de energ├¡a	0	t	2026-01-27 03:55:58+00
3	Carpa SANMARINO	100	t	2026-01-27 03:55:45+00
\.


--
-- Data for Name: cotizaciones; Type: TABLE DATA; Schema: finanzas_casadepiedra; Owner: supabase_admin
--



--
-- Data for Name: espacios; Type: TABLE DATA; Schema: finanzas_casadepiedra; Owner: supabase_admin
--



--
-- Data for Name: impuestos; Type: TABLE DATA; Schema: finanzas_casadepiedra; Owner: supabase_admin
--

COPY finanzas_casadepiedra.impuestos (id, nombre, porcentaje, activo, created_at, impuestos_aplicados) FROM stdin;
1	IVA	16	t	2026-01-25 10:41:36+00	\N
\.


--
-- Data for Name: profiles; Type: TABLE DATA; Schema: public; Owner: supabase_admin
--



--
-- Name: conceptos_catalogo_id_seq; Type: SEQUENCE SET; Schema: finanzas; Owner: supabase_admin
--

SELECT pg_catalog.setval('finanzas.conceptos_catalogo_id_seq', 6, true);


--
-- Name: espacios_id_seq; Type: SEQUENCE SET; Schema: finanzas; Owner: supabase_admin
--

SELECT pg_catalog.setval('finanzas.espacios_id_seq', 32, true);


--
-- Name: impuestos_id_seq; Type: SEQUENCE SET; Schema: finanzas; Owner: supabase_admin
--

SELECT pg_catalog.setval('finanzas.impuestos_id_seq', 2, true);


--
-- Name: conceptos_catalogo_id_seq; Type: SEQUENCE SET; Schema: finanzas_casadepiedra; Owner: supabase_admin
--

SELECT pg_catalog.setval('finanzas_casadepiedra.conceptos_catalogo_id_seq', 4, true);


--
-- Name: espacios_id_seq; Type: SEQUENCE SET; Schema: finanzas_casadepiedra; Owner: supabase_admin
--

SELECT pg_catalog.setval('finanzas_casadepiedra.espacios_id_seq', 4, true);


--
-- Name: impuestos_id_seq; Type: SEQUENCE SET; Schema: finanzas_casadepiedra; Owner: supabase_admin
--

SELECT pg_catalog.setval('finanzas_casadepiedra.impuestos_id_seq', 1, true);


--
-- PostgreSQL database dump complete
--

\unrestrict XdmjSjXRQbEcSqnpO7JqZZ7J51iba2MaPXsHjKOgsagPLtgh3bX4bl5eHXtrBBR

